@if (data.product) {
<section class="delete-dialog">
  <h2 class="delete-dialog-title">
    Are you sure you want to delete the product <span class="product-name">{{ data.product.name }}</span>?
  </h2>

  <div class="delete-dialog-actions">
    <button class="btn cancel-btn" (click)="cancelExclusion()">
      <i class="bi bi-x">
        Cancel
      </i>
    </button>
    <button class="btn btn-primary" (click)="deleteProduct()">
      <i class="bi bi-check">
        Submit
      </i>
    </button>
  </div>
</section>
}
