<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-5">
    <label class="form-label">Type:</label>
    <select id="type" class="form-control" [(ngModel)]="profile.type" (change)="onProfileChange()">
      <option *ngFor="let option of typeOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

  <div class="col-md-5">
    <label class="form-label">Backlog:</label>
    <input id="backlog" type="number" class="form-control" min="0" [(ngModel)]="profile.backlog"
      [attr.placeholder]="'Not set'" (input)="onProfileChange()" />
  </div>

  <div class="col-md-2 d-flex justify-content-center align-items-center">
    <label class="form-label">
      <input class="mt-5" type="checkbox" id="available" [(ngModel)]="profile.available" (change)="onProfileChange()" />
      Available
    </label>
  </div>
</div>

<mat-divider class="mt-4"></mat-divider>

<div class="row mt-2">
  <div class="col-md-12">
    <h5>Custom Properties</h5>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of customKeys">
          <td>{{ key }}</td>
          <td>{{ profile.customProperties![key] }}</td>
          <td class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary me-3" (click)="setKeyValues(key, profile.customProperties![key])">
              <i class="bi bi-pencil">Edit</i>
            </button>
            <button class="btn btn-danger" (click)="deleteCustomProperty(key)">
              <i class="bi bi-trash">Delete</i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="mt-2">
      <input type="text" class="form-control d-inline-block key-value-control" [(ngModel)]="newKey"
        placeholder="New Key" />
      <input type="text" class="form-control d-inline-block key-value-control" [(ngModel)]="newValue"
        placeholder="New Value" />
      <button class="btn btn-primary add-btn" (click)="editingKey ? saveEditedProperty() : addCustomProperty()">
        <i class="bi bi-plus">{{ editingKey ? 'Save' : 'Add' }}</i>
      </button>
    </div>
  </div>
</div>
